body,html{
    position: relative;
    background: black;
    font-family: 'Maven Pro', sans-serif;
    font-size: 17px;
    letter-spacing: .02em;
    
}
.jumbotron{
height: 100%;
background: black;
margin-bottom: 0;
padding: 50px 0 0 0;
}
.project{
    margin: 3px;
    margin-top: 20px;

}
.card-img-top {
    height: 200px;
}
.card-body {
    BACKGROUND: black;
}
.skillsUl{
    list-style-type: none;
    margin: 0 auto;
}
.card{
    border: 1px solid rgba(0,0,0,.125);
    background: rgb(38, 187, 187);
}
.btn-primary {
    border-color: rgb(38, 187, 187);
    background: rgb(38, 187, 187);
}.btn-primary:hover, .btn-primary.disabled {
    border-color: rgb(38, 187, 187);
    background: black;
}
.work{
    background: black;
    width: 100%;
    height: 100%;
}
.project-card{
    margin: 0 auto;
    height: 100%;
}
.skillsImg{
    margin: 0 auto;
    
}
h5{
    margin-bottom: 1rem !important;
    font-size: 1.5em;
    color: rgb(38, 187, 187)

}
h1, p{
    color: rgb(38, 187, 187);
}
.skillsList {
    color: rgb(38,187,187)
}
.contactImg{
    padding: 20px;
}
a{
    color: rgb(38, 187, 187);
}
.self{
    border-radius: 50%;
    height: 250px;
}
.nav-link:hover{
    background: rgb(38, 187, 187);
    color: white;
    transition: all .8s;
}
#work, #skills{
    height: 40px;
}
.pdf{
    position: relative;
    top: 200px;
}
hr{
    border-color: rgb(38, 187, 187);
}
#resumeBody{
    margin-top: 30px;
    background: white;
    padding: 15px;
    margin-bottom: 25px;
}
.resumeHead{
    color: black;

}
.externalLinks {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 20px;
    color: black;
}
.resumeInfo{
    color: black;
}
blockquote{
    padding-top: 50px;
    padding-left: 175px;
    padding-right: 175px;
    color: rgb(38, 187, 187);
}
